.back-img{
    position: relative;
    width: 300px;
    height: 400px;
}

.front-img{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 150px;
    top: 50px;
}

.little-img{
    background-color: red;
    width: 25%;
    height: 100%;
}

.bigger-img{
    background-color: yellow;
    width: 75%;
    height: 100%;
}