.name{
    background-color: #2c2c2c !important;
}

h4{
    font-size: 22px !important;
}


.my-active{
    //width: 60%;
    // background-color: rgb(0, 238, 255) !important;
    // background-color: lightblue;
    // // transition: .5s ease-out;
    // transition: .5s ease-out;
    // background-position: left to right;
    background: linear-gradient(to right, lightblue 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: center center;
    transition: 0.5s ease-in;
}

.my-active.effect{
    background-position: left bottom;
}

.nav-items div{
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1120px) {
    
}

@media only screen and (max-width: 1080px) {

}

@media only screen and (max-width: 1020px) {

    
}

@media only screen and (max-width: 991.5px) {
    
}
@media only screen and (max-width: 780px) {
    
}

@media only screen and (max-width: 717px) {
    
}

@media only screen and (max-width: 657px) {
    
}

@media only screen and (max-width: 617px){
    
}

@media only screen and (max-width: 597px){
    
}

@media only screen and (max-width: 502px){
    
}
