.aboutme-left{
    height:60vh;
    margin-left: 115.78px;
    width: 40%;
}

.parent-div{
    //height: 520px;
    padding-bottom: 5rem;
}

.main-name{
    background: linear-gradient(to bottom, transparent 60%, lightblue 0%);
    width: 400px;
    height: 50%;
}

.aboutme-left h6{
    font-size: 13px;
}

.line{
    width: 6rem;
    height: 2px;
    background-color: #dcdcdc;
    margin-top: 3px;
}

.explore{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.dropdown:hover{
    background-color: rgba(241, 241, 241, 0.623);
    transition: .2s;
}

.dropdown{
    font-size: 100px;
}

.explore:hover{
    color: #3f3f3f !important;
}

.rounded-circle{
    padding: 0.8px 0.8px 0 0.8px;
    font-size:1.2rem;
}

.greyish{
    color: #dcdcdc !important;
}

.explore-div{
    cursor: pointer;
}

.aboutme-contacts{
    width: 5rem !important;
}

.aboutme-img{
    position: relative;
    
}

.img-placeholder{
    width: 420px;
    height: 520px;
    overflow: visible;
    position: absolute;
    top: -30px;
    background-color: #dcdcdc;
}

.dot-container{
    width: 48px;
    height: 140px;
    z-index: 100;
    background-color: transparent;
    position: absolute;
    background-image: radial-gradient(#acacac 30%, transparent 40%);
    background-position: 0 0;
    background-size: 4px 4px;
    left: -49px;
}

.dot-container.right{
    width: 24px;
    height: 157px;
    left: 421px;
    bottom: 140px !important;
}

.dot-container.bottom{
    width: 169px;
    height: 40px;
    left: -90px;
    bottom: 50px !important;

}

.dot-container.lets-talk{
    background-color: white;
    border: 2px solid rgba(211, 211, 211, 0.404);
    width: 170px;
    background-image: none;
    height: 52px;
    bottom: 35px;
    left: 350px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s;
    color: #6c757d;
}

.dot-container.lets-talk:hover{
    background-color: rgb(247, 247, 247);
}

.envelop{
    font-size: 15px;
    color: #6c757d;
}

.aboutme-contacts .contacts-icon{
    font-size: 15px;
    cursor: pointer;
    color: #6c757d;
}

.aboutme-contacts .vertical-line{
    background-color: #dcdcdc;
    width: 2px;
    height: 5rem;
}

.aboutme-contacts{
    position: relative;
}

.aboutme-contacts .list{
    position: absolute;
    top: -30px;
    right: 45px;
}

.fa-facebook:hover{
    color: #4867aa;
    transition: .1s;
}

.fa-instagram:hover{
    color:#f53184;
    transition: .1s;
}

.fa-linkedin:hover{
    color: #0077b5;
    transition: .1s;
}

.fa-telegram:hover{
    color: #26a6e7;
    transition: .1s;
}