

.aboutme-left{
    // height:70vh;
    // margin-left: 115.78px;
    // width: 40%;
}

.aboutme-left-container{
    margin-left: 115.78px;
}

.aboutme-img-container{
    // margin-right: 200px !important;
}

.parent-div{
    //height: 520px;
    padding-bottom: 5rem;
}

.main-name{
    background: linear-gradient(to bottom, transparent 60%, lightblue 0%);
    width: 400px;
    height: 50%;
}

.text{
    width: 400px;
}

.aboutme-left h6{
    font-size: 13px;
}

.line{
    width: 6rem;
    height: 2px;
    background-color: #dcdcdc;
    margin-top: 3px;
}

.explore{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.dropdown:hover{
    background-color: rgba(241, 241, 241, 0.623);
    transition: .2s;
}

.dropdown{
    font-size: 100px;
}

.explore:hover{
    color: #3f3f3f !important;
}

.rounded-circle{
    padding: 0.8px 0.8px 0 0.8px;
    font-size:1.2rem;
}

.greyish{
    color: #dcdcdc !important;
}

.explore-div{
    cursor: pointer;
}

.aboutme-contacts{
    width: 5rem !important;
}

.aboutme-img{
    // position: relative;
    width: 636px;
    height: 555px;
}

.img-placeholder{
    width: 450px;
    height: 520px;
    // overflow: visible;
    position: relative;
    top: -30px;
    background-color: #dcdcdc;
}

.dot-container{
    background-color: transparent;
    position: absolute;
    background-image: radial-gradient(#acacac 30%, transparent 40%);
    background-position: 0 0;
    background-size: 4px 4px;
}

.dot-container.top{
    width: 48px;
    height: 151px;
    top: 30px;
    left: -48.5px;
}

.dot-container.right{
    width: 24px;
    height: 185px;
    right: -24.5px;
    bottom: 160px;
}

.dot-container.bottom{
    width: 180px;
    height: 40px;
    left: -76px;
    bottom: 50px;

}

.dot-container.lets-talk{
    background-color: white;
    border: 2px solid rgba(211, 211, 211, 0.404);
    width: 170px;
    background-image: none;
    height: 52px;
    bottom: 44px;
    right: -110px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s;
    color: #6c757d;
}

.dot-container.lets-talk:hover{
    background-color: rgb(247, 247, 247);
}

.envelop{
    font-size: 15px;
    color: #6c757d;
}

.aboutme-contacts .contacts-icon{
    font-size: 15px;
    cursor: pointer;
    color: #6c757d;
}

.aboutme-contacts .vertical-line{
    background-color: #dcdcdc;
    width: 2px;
    height: 5rem;
}

.aboutme-contacts{
    position: relative;
}

.aboutme-contacts .list{
    position: absolute;
    top: -30px;
    right: 35px;
}

.fa-facebook:hover{
    color: #4867aa;
    transition: .1s;
}

.fa-instagram:hover{
    color:#f53184;
    transition: .1s;
}

.fa-linkedin:hover{
    color: #0077b5;
    transition: .1s;
}

.fa-telegram:hover{
    color: #26a6e7;
    transition: .1s;
}

@media only screen and (max-width: 1200px) {
    .my-row{
        // width: 540px;
        height: 60vh;
    }
    .main-name{
        width: 300px;
    }

    .aboutme-left h1{
        font-size: 30px;
    }

    .text{
        width: 300px;
    }

    .aboutme-img{
        // position: relative;
        width: 400px;
        height: 500px;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 1120px) {

    .my-row{
        // width: 540px;
        height: 60vh;
    }

    .dot-container.lets-talk{
        right: -60px;
    }
}

@media only screen and (max-width: 1080px) {

    .my-row{
        // width: 540px;
        height: 60vh;
    }

    .aboutme-left-container{
        height: auto;
    }

    .main-name{
        width: 250px;
    }


    .aboutme-left h1{
        font-size: 25px;
    }

    .text{
        width: 250px;
    }

    .aboutme-img{
        // position: relative;
        width: 350px;
        height: 450px;
        margin-right: 300px;
    }
}

@media only screen and (max-width: 1020px) {

    .aboutme-left-container{
        height: auto;
    }

    .main-name{
        width: 250px;
    }

    .aboutme-left h1{
        font-size: 25px;
    }

    .text{
        width: 250px;
    }

    .aboutme-img{
        // position: relative;
        width: 330px;
        height: 430px;
        margin-right: 300px;
        align-items: center;
    }
}

@media only screen and (max-width: 991.5px) {
    .aboutme-contacts .contacts-icon{
        font-size: 20px;
    }

    .aboutme-contacts .list{
        top: 80px;
        right: 35px;
    }

    .aboutme-contacts{
        width: 50px !important;
    }

    .main-name{
        width: 400px;
    }

    .aboutme-left h1{
        font-size: 40px;
    }

    .text{
        width: 400px;
    }

    .aboutme-img{
        // position: relative;
        width: 550px;
        height: 580px;
        margin-right: 300px;
        margin-top: 50px;
    }

    .my-row{
        width: 600px;
        height: auto;
        margin-top: 80px;
    }
}
@media only screen and (max-width: 780px) {
    .dot-container.lets-talk{
        right: -45px;
    }
}

@media only screen and (max-width: 717px) {
    .my-row{
        width: 540px;
    }
}

@media only screen and (max-width: 657px) {
    // .aboutme-contacts .list{
    //     top: -20px;
    //     right: 10px;
    // }
    .my-row{
        width: 500px;
    }

    .aboutme-contacts .list{
        top: 80px;
        right: 10px;
    }

    .aboutme-img{
        // position: relative;
        margin-left: 50px;
        width: 400px;
        height: 510px;
        margin-right: 300px;
    }
}

@media only screen and (max-width: 617px){
    .my-row{
        width: 480px;
    }
    .main-name{
        width: 350px;
    }

    .aboutme-left h1{
        font-size: 35px;
    }

    .text{
        width: 350px;
    }
    .aboutme-img{
        // position: relative;
        margin-left: 50px;
        width: 380px;
        height: 480px;
        margin-right: 300px;
    }

    .dot-container.lets-talk{
        right: -40px;
    }

    .dot-container.bottom{
        right: 0;
    }

    .text h5{
        font-size: 17px;
    }

    .text h6{
        font-size: 12px;
    }
}

@media only screen and (max-width: 597px){
    .my-row{
        width: 435px;
    }

    // .main-name{
    //     width: 350px;
    // }

    // .aboutme-left h1{
    //     font-size: 30px;
    // }

    .aboutme-left-container{
        margin-left: 90px;
    }

    // .text{
    //     width: 280px;
    // }
    .aboutme-img{
        // position: relative;
        margin-left: 40px;
        width: 350px;
        height: 450px;
        margin-right: 300px;
    }

    .dot-container.top{
        width: 35px;
        height: 121px;
        top: 30px;
        left: -36px;
    }
    
    .dot-container.right{
        width: 20px;
        height: 145px;
        right: -20px;
        bottom: 160px;
    }
    
    .dot-container.bottom{
        width: 129px;
        height: 28px;
        left: -50px;
        bottom: 20px;
    
    }
    
    .dot-container.lets-talk{
        width: 130px;
        height: 42px;
        bottom: 20px;
        right: -50px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 550px){
    .main-name{
        width: 320px;
    }

    .aboutme-left h1{
        font-size: 32px;
    }

    .text{
        width: 320px;
    }
}

@media only screen and (max-width: 520px){
    .aboutme-contacts{
        position: unset;
    }

    .aboutme-contacts .list{
        top: 136px;
        right: unset;
        left: 20px;
    }
}

@media only screen and (max-width: 508px){
    .main-name{
        width: 300px;
    }

    .aboutme-left h1{
        font-size: 30px;
    }

    .text{
        width: 300px;
    }

    .aboutme-img{
        // position: relative;
        margin-left: 40px;
        width: 320px;
        height: 420px;
        margin-right: 300px;
    }
}

@media only screen and (max-width: 488px){
    .my-row{
        width: 350px;
    }

    // .aboutme-left-container{
    //     height: auto;
    // }

    .main-name{
        width: 290px;
    }

    .aboutme-left h1{
        font-size: 29px;
    }

    .text h5{
        font-size: 18px;
    }

    .text h6{
        font-size: 14px;
    }

    .line{
        width: 4rem;
        height: 2px;
        background-color: #dcdcdc;
        margin-top: 3px;
    }
    
    .explore{
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 12px;
    }

    .text{
        width: 295px;
    }
    .aboutme-img{
        // position: relative;
        margin-left: 45px;
        width: 270px;
        height: 370px;
        // margin-right: 300px;
    }

    .dot-container.top{
        width: 28px;
        height: 100px;
        top: 30px;
        left: -29px;
    }
    
    .dot-container.right{
        width: 15px;
        height: 145px;
        right: -15px;
        bottom: 140px;
    }
    
    .dot-container.bottom{
        width: 100px;
        height: 28px;
    
    }
    
    .dot-container.lets-talk{
        width: 110px;
        height: 38px;
        right: -30px;
    }
}